@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}
.react-beautiful-dnd-draggable {
  transition: transform 0.2s;
}
.content {
  padding: 50px;
  border-radius: 4px;
}
